<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A website to enable teams and organisations to organise their own Shadow Roles. Started in 2021.">
  <title>Shadow Roles</title>
  <script async src="https://eu.umami.is/script.js" data-website-id="e93fef56-e41d-46b7-a963-7f58dca9fdf3"></script>
</head>
<body>
  <header>
    </header>
  <main>
    {{ content }}
  </main>
  <footer>
    </footer>
</body>
</html>
